header nav {
  background:#003d91;
  margin-bottom:10px;
}

header nav ul {
  list-style: none;
  overflow: hidden;
}

header nav ul a {
  float: left;
}

header nav ul  a {
  display: block;
  padding:20px;
  color:#fff;
  text-decoration: none;
}

header nav ul  a:hover {
  background:#2980b9;
}
header nav ul  a:active {
  background:orange;
}
.menu-fixed {
  position:fixed;
  z-index:1000;
  top:0;
  width:100%;
  box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
  .tab-active{
    font-weight:600;
  }
  .tab-content{
    display:none;
  }
  .show{
    display:block
  }
  #home{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    color:black;
  }
  #about{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    color:black;
    word-break:keep-all;
    padding-bottom: 44%;
  }
  #contact{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    color:black;
    word-break:keep-all;
    padding-bottom: 20%;
  }
  #post{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    color:black;
    padding-bottom: 44%;
    width: 60%;
    padding: 20px;
    float: right;
    word-break: keep-all;
  }
  body{
    background-image: url('https://www.saladeespera.com.pa/wp-content/uploads/2018/09/PS.jpg');
  }
  .img{
    height: 200px;
    width: 200px;

  }
  .overla {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.5);
  	opacity: 0;
  	transition: .5s ease;
  	z-index: -1;
  }

  .overla.active {
  	opacity: 1;
  	z-index: 2;
  }

  .mod {
  	color: black;
  	max-height: calc(100% - 100px);
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	max-width: 450px;
  	transform: translate(-50%, -50%);
  	background: #fff;
  	z-index: 3;
  	visibility: hidden;
  	opacity: 0;
  	transition: .5s ease;
  	border-radius:4px;
  	border:2px solid black;
  }


  .mod.active {
  	visibility: visible;
  	opacity: 1;
  }
  .overla2 {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.5);
  	opacity: 0;
  	transition: .5s ease;
  	z-index: -1;
  }

  .overla2.active {
  	opacity: 1;
  	z-index: 2;
  }

  .mod2 {
  	color: black;
  	max-height: calc(100% - 100px);
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	max-width: 450px;
  	transform: translate(-50%, -50%);
  	background: #fff;
  	z-index: 3;
  	visibility: hidden;
  	opacity: 0;
  	transition: .5s ease;
  	border-radius:4px;
  	border:2px solid black;
  }


  .mod2.active {
  	visibility: visible;
  	opacity: 1;
  }
  .overla3 {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.5);
  	opacity: 0;
  	transition: .5s ease;
  	z-index: -1;
  }

  .overla3.active {
  	opacity: 1;
  	z-index: 2;
  }

  .mod3 {
  	color: black;
  	max-height: calc(100% - 100px);
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	max-width: 450px;
  	transform: translate(-50%, -50%);
  	background: #fff;
  	z-index: 3;
  	visibility: hidden;
  	opacity: 0;
  	transition: .5s ease;
  	border-radius:4px;
  	border:2px solid black;
  }


  .mod3.active {
  	visibility: visible;
  	opacity: 1;
  }
  .overla4 {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.5);
  	opacity: 0;
  	transition: .5s ease;
  	z-index: -1;
  }

  .overla4.active {
  	opacity: 1;
  	z-index: 2;
  }

  .mod4 {
  	color: black;
  	max-height: calc(100% - 100px);
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	max-width: 450px;
  	transform: translate(-50%, -50%);
  	background: #fff;
  	z-index: 3;
  	visibility: hidden;
  	opacity: 0;
  	transition: .5s ease;
  	border-radius:4px;
  	border:2px solid black;
  }


  .mod4.active {
  	visibility: visible;
  	opacity: 1;
  }
  button{
  	border-radius:4px;
  	background-color:#b71c25;
  	border:1px solid black;
  }
}
.slider{
  position: relative;

}
.slider > div{
  position: absolute;

}
.productos{
  color: black;
  text-align: center;
}
.tamaño{
  height: 500px;
  width: 1136px;
  border: 1px solid black;
}
.list{
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 12px;
  list-style-type: square;
}
.info{
text-align: center;
word-break:keep-all;
}
