<template>
  <q-page class="flex flex-center">
      <q-table
    title="Table Title"
    :data="tableData"
    :columns="columns"
    row-key="name"
  />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UserList',
  data: () => ({
    columns: [
      {
        name: 'name',
        required: true,
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        name: 'email',
        required: true,
        label: 'Email',
        align: 'left',
        field: 'email',
        sortable: true
      },
      {
        name: 'city',
        required: true,
        label: 'City',
        align: 'left',
        field: (row) => { return row.address.city },
        sortable: true
      },
      {
        name: 'phone',
        required: true,
        label: 'Phone',
        align: 'left',
        field: 'phone',
        sortable: true
      },
      {
        name: 'website',
        required: true,
        label: 'Website',
        align: 'left',
        field: 'website',
        sortable: true
      },
      {
        name: 'companyName',
        required: true,
        label: 'Company Name',
        align: 'left',
        field: (row) => { return row.company.name },
        sortable: true
      }
    ],
    tableData: []
  }),
  created () {
    this.$axios.get('https://jsonplaceholder.typicode.com/users')
      .then((res) => {
        console.log('Respuesta obtenida', res.data)
        this.tableData = res.data
      })
      .catch((error) => {
        console.log('Algo malo paso', error)
      })
  }
}
</script>
